IO_LOC "clk_50mhz" V22;
IO_PORT "clk_50mhz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "reset_button" F4;
IO_PORT "reset_button" IO_TYPE=LVCMOS15 PULL_MODE=DOWN BANK_VCCIO=1.5;
IO_LOC "uart_tx" U15;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_rx" V14;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "flash_dq[0]" P22;
IO_LOC "flash_dq[1]" R22;
IO_LOC "flash_dq[2]" P21;
IO_LOC "flash_dq[3]" R21;
IO_LOC "flash_csn" T19;
IO_LOC "flash_sclk" L12;
IO_PORT "flash_dq[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "flash_dq[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "flash_dq[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "flash_dq[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "flash_csn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "flash_sclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
